<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link href="/css/products/styles-productEdit.css" rel="stylesheet">
    <title>Editar Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3>Editar Producto</h3>
        
            <form class="detalle-producto" action="/productos/<%= product.category %>/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="producto-principal">
                    <img src = "/images/adidas/<%= product.image %>" alt="<%= product.imagen ? producto.product_name : " " %>" class="product_img">
                </div>
                <div class="descripcion-producto">
                    <div class="nombre-producto">
                        <label for="price">Nombre del producto</label>
                        <br>
                        <input type="text" name="product_name" id="product_name" placeholder="Nombre del producto" value="<%= product.product_name %>">
                    </div>
                    <div class="precio-producto">
                        <label for="price">Precio $</label>
                        <br>
                        <input type="number" name="price" id="price" placeholder="Precio del producto $" value="<%= product.price %>">
                    </div>
                    <div class="descuento-producto">
                        <label for="discount">Descuento %</label>
                        <br>
                        <input type="number" name="discount" id="discount" placeholder="Descuento del producto %" value="<%= product.discount %>">
                    </div>
                    <div class="caracteristicas-producto">
                        <div class="categoria">
                            <label for="category">Categoría: </label>
                            <select name="category" id="category">
                                <% if (product.category == 'casual') { %>
                                    <option value="casual" selected="selected">Casual</option>
                                    <option value="futbol">Futbol</option>
                                    <option value="running">Running</option>
                                <% } else if (product.category == 'futbol') { %>
                                    <option value="casual">Casual</option>
                                    <option value="futbol" selected="selected">Futbol</option>
                                    <option value="running">Running</option>
                                <% } else if (product.category == 'running') { %>
                                    <option value="casual">Casual</option>
                                    <option value="futbol">Futbol</option>
                                    <option value="running" selected="selected">Running</option>
                                <% } %>
                            </select>
                        </div>
                        <div class="cantidad-colores">
                            <label for="color"> Color: </label>
                            <select name="color" id="color">
                                <option value=""></option>
                                <% if (product.color == 'Rojo') { %>
                                    <option value="Rojo" selected>Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Blanco">Blanco</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Violeta">Violeta</option>
                                    <option value="Naranja">Naranja</option>
                                <% } %>
                                <% if (product.color == 'Negro') { %>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro" selected>Negro</option>
                                    <option value="Blanco">Blanco</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Violeta">Violeta</option>
                                    <option value="Naranja">Naranja</option>
                                <% } %>
                                <% if (product.color == 'Blanco') { %>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Blanco" selected>Blanco</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Violeta">Violeta</option>
                                    <option value="Naranja">Naranja</option>
                                <% } %>
                                <% if (product.color == 'Azul') { %>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Blanco">Blanco</option>
                                    <option value="Azul" selected>Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Violeta">Violeta</option>
                                    <option value="Naranja">Naranja</option>
                                <% } %>
                                <% if (product.color == 'Verde') { %>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Blanco">Blanco</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde" selected>Verde</option>
                                    <option value="Violeta">Violeta</option>
                                    <option value="Naranja">Naranja</option>
                                <% } %>
                                <% if (product.color == 'Violeta') { %>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Blanco">Blanco</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Violeta" selected>Violeta</option>
                                    <option value="Naranja">Naranja</option>
                                <% } %>
                                <% if (product.color == 'Naranja') { %>
                                    <option value="Rojo">Rojo</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Blanco">Blanco</option>
                                    <option value="Azul">Azul</option>
                                    <option value="Verde">Verde</option>
                                    <option value="Violeta">Violeta</option>
                                    <option value="Naranja" selected>Naranja</option>
                                <% } %>
                            </select>
                        </div>
                        <div class="talles">
                            <label for="size">Talles: </label>
                            <br>
                            <select name="size" id="size">
                                <% for (let i=0; i < sizesId.length; i++) { %>
                                    <option value="<%= sizesId[i] %>" <%= product.size == i ? "selected" : null %>> <%= sizesId[i] + 34 %> </option>
                                <% } %>
                            </select>
                            <!-- <% for (let i=35; i < 46; i++) { %>
                                <input type="checkbox" name="talles" id="talles" value="<%= i %>" <%= product.size == i ? "checked" : null %>><%= 36 + i %>
                            <% } %> -->
                        </div>
                    </div>
                    <div class="boton-editar">
                        <button type="submit">Editar Producto</button>
                    </div>
                </div>
            </form>
        
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>