<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Detalle de Producto</title>
    <link href="/css/products/styles-productDetail.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3>Detalle de Producto</h3>
        <div class="detalle-producto">
            <div class="producto-principal">
                <img src = "/images/adidas/<%= product.image %>" alt="<%= product.product_name %>" class="product_img">
            </div>
            <div class="colores-producto">
                <div class="color01">
                    <img src = "/images/adidas/<%= product.image %>" alt="<%= product.product_name %> color 1" class="product_img">
                </div>
                <% if ( product.imagen02 != undefined) { %>
                    <div class="color02">
                        <img src = "/images/adidas/<%= product.imagen02 %>" alt="<%= product.nombre %> color 2" class="product_img">
                    </div>
                <% } %>
                <% if ( product.imagen03 != undefined) { %>
                    <div class="color03">
                        <img src = "/images/adidas/<%= product.imagen03 %>" alt="<%= product.nombre %> color 3" class="product_img">
                    </div>
                <% } %>
            </div>
            <div class="descripcion-producto">
                <div class="logo-adidas">
                    <img src="/images/banner/logo-adidas.png" alt="">
                </div>
                <div class="nombre-producto">
                    <h4><%= product.product_name %></h4>
                </div>
                <div class="precio-producto">
                    <% if (product.discount != 0) { %>
                        <p class="precio-descuento">$<%= product.price %></p>
                        <p class="precio-final">$<%= product.price - (product.price * product.discount)/100 %></p>
                    <% } else { %>
                        <p class="precio">$<%= product.price %></p>
                    <% } %>
                </div>
                <div class="caracteristicas-producto">
                    <form action="/carrito" method="POST">
                        <div class="color">
                            <label for="color">Color: </label>
                            <select name="color" id="color">
                                <option value="<%= product.color %>"><%= product.color %></option>
                            </select>
                        </div>
                        
                       
                        <div class="talle">
                            <label for="talle">Talle: </label>
                            <select name="size" id="size">
                                        <option value=" <%= product.size %>"><%= product.size %></option>
                               
                               
                            </select>
                        </div>
                        <div class="boton">
                            <button type="submit">Agregar al Carrito <i class="fas fa-cart-plus"></i></button>
                        </div>
                    </form>
                    <% if (locals.isLogged) { %>
                        <form action="/productos/<%= product.category %>/<%= product.id %>/editar-producto" method="GET">
                            <div class="boton-editar">
                                <button type="submit">Editar</button>
                            </div>
                        </form>
                        <form action="/productos/<%= product.category %>/<%= product.id %>?_method=DELETE" method="POST">
                            <div class="boton-eliminar">
                                <button type="submit">Eliminar</button>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>