<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <link href="/css/main/styles-home.css" rel="stylesheet">
        <title>Bienvenidxs a MiZapatilla!</title>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <section class="banner">
            <img src="images/banner/banner02.png" alt="Banner de ofertas">
        </section>
        <main>
            <section class="casual">
                <h3>Casual</h3>
                <div class="productos">
                    <% for ( i = 0; i < 4; i++) { %>
                        <article>
                            <a href="/productos/<%= productosCasual[i].categoria %>/<%= productosCasual[i].id %>">
                                <img src = "/images/adidas/<%= productosCasual[i].imagen01 %>" alt="<%=productosCasual[i].nombre %>" class="product_img">
                                <div class="producto">
                                    <i class="fas fa-truck"></i>
                                    <p class = "precio">$ <%=productosCasual[i].precio %></p>
                                    <% if (productosCasual[i].descuento != 0) { %>
                                    <p class = "descuento">%<%=productosCasual[i].descuento %> OFF</p>
                                    <% } %>
                                    <h4 class = "descripcion"><%=productosCasual[i].nombre %></h4>
                                </div>
                            </a>
                        </article>
                    <% } %>
                    <a class="mas-productos" href="/productos/casual"><i class="fas fa-plus"></i></a>
                </div>
            </section>
            <section class="futbol">
                <h3>Futbol</h3>
                <div class="productos">
                    <% for ( i = 0; i < 4; i++) { %>
                        <article>
                            <a href="/productos/<%= productosFutbol[i].categoria %>/<%= productosFutbol[i].id %>">
                                <img src = "/images/adidas/<%= productosFutbol[i].imagen01 %>" alt="<%=productosFutbol[i].nombre %>" class="product_img">
                                <div class="producto">
                                    <i class="fas fa-truck"></i>
                                    <p class = "precio">$ <%=productosFutbol[i].precio %></p>
                                    <% if (productosFutbol[i].descuento != 0) { %>
                                    <p class = "descuento">%<%=productosFutbol[i].descuento %> OFF</p>
                                    <% } %>
                                    <h4 class = "descripcion"><%=productosFutbol[i].nombre %></h4>
                                </div>
                            </a>
                        </article>
                    <% } %>
                    <a class="mas-productos" href="/productos/futbol"><i class="fas fa-plus"></i></a>
                </div>
            </section>
            <section class="running">
                <h3>Running</h3>
                <div class="productos">
                    <% for ( i = 0; i < 4; i++) { %>
                        <article>
                            <a href="/productos/<%= productosRunning[i].categoria %>/<%= productosRunning[i].id %>">
                                <img src = "/images/adidas/<%= productosRunning[i].imagen01 %>" alt="<%=productosRunning[i].nombre %>" class="product_img">
                                <div class="producto">
                                    <i class="fas fa-truck"></i>
                                    <p class = "precio">$ <%=productosRunning[i].precio %></p>
                                    <% if (productosRunning[i].descuento != 0) { %>
                                    <p class = "descuento">%<%=productosRunning[i].descuento %> OFF</p>
                                    <% } %>
                                    <h4 class = "descripcion"><%=productosRunning[i].nombre %></h4>
                                </div>
                            </a>
                        </article>
                    <% } %>
                    <a class="mas-productos" href="/productos/running"><i class="fas fa-plus"></i></a>
                </div>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>