<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Cuenta</title>
    <link href="/css/users/styles-account.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <% if (locals.user && user.nombre) { %>
            <div class="usuario-registrado">
                <h3>Gracias por registrarte! Ya podes iniciar sesión.</h3>
            </div>
        <% } %>
        <div class="cuenta">
            <div class="login">
                <h3>Ingresá a tu cuenta</h3>
                <form action="/cuenta/login" method="POST" class="ingresar">
                    <div>
                        <input type="text" name="email1" placeholder="Email del usuario" class="<%= locals.errors && errors.email1 ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email1 : null %>">
                        <% if (locals.errors && errors.email1) { %>
                            <div class="text-danger">
                                <%= errors.email1.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="password1" placeholder="Contraseña" class="<%= locals.errors && errors.password1 ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password1) { %>
                            <div class="text-danger">
                                <%= errors.password1.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="remember_user">
                        <input type="checkbox" name="remember_user">Recordar mi usuario
                    </div>
                    <div>
                        <button type="submit">Ingresar</button>
                    </div>
                </form>
            </div>
            <div class="registro">
                <h3>Creá tu Cuenta</h3>
                <form action="/cuenta/register" method="POST" class="registrarse" enctype="multipart/form-data">
                    <div class="nombre">
                        <input type="text" name="first_name" id="first_name" placeholder="Nombre" class="<%= locals.errors && errors.nombre ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.nombre : null %>">
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="text-danger">
                                <%= errors.first_name.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="apellido">
                        <input type="text" name="last_name" id="last_name" placeholder="Apellido" class="<%= locals.errors && errors.apellido ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.apellido : null %>">
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <%= errors.last_name.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="mail">
                        <input type="text" name="email" id="email" placeholder="E-mail" class="<%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="domicilio">
                        <input type="text" name="adress" id="adress" placeholder="Domicilio" class="<%= locals.errors && errors.domicilio ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.domicilio : null %>">
                        <% if (locals.errors && errors.adress) { %>
                            <div class="text-danger">
                                <%= errors.adress.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="contraseña01">
                        <input type="password" name="password" id="password" placeholder="Contraseña" class="<%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="contraseña02">
                        <input type="password" name="password2" id="password2"placeholder="Confirmar contraseña" class="<%= locals.errors && errors.password2 ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password2) { %>
                            <div class="text-danger">
                                <%= errors.password2.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="avatar">
                        <br>
                        <input type="file" name="avatar" id="avatar" class="<%= locals.errors && errors.avatar ? 'is-invalid' : null %>" style="display:none;"/>
                        <label for="avatar"><i class="fas fa-upload"></i> Ingrese su imagen de perfil</label>
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <br>
                                <%= errors.avatar.msg %>
                                <br>
                            </div>
                        <% } %>
                    </div>
                    <div>
                        <button class="borrar" type="reset">Borrar</button>
                        <button class="enviar" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>