<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Mi Cuenta</title>
    <link href="/css/users/styles-user.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3>Mi Cuenta</h3>
        <div class="avatar">
            <img src="/images/users/<%= user.avatar %>" alt="Avatar">
        </div>
        <div class="cuenta">
            <div class="nombre">
                <p class="titulo">Nombre: </p>
                <p><%= user.first_name %></p>
            </div>
            <div class="apellido">
                <p class="titulo">Apellido: </p>
                <p><%= user.last_name %></p>
            </div>
            <div class="email">
                <p class="titulo">E-mail: </p>
                <p><%= user.email %></p>
            </div>
            <div class="domicilio">
                <p class="titulo">Domicilio: </p>
                <p><%= user.adress %></p>
            </div>
            <!-- <div class="categoria">
                <p class="titulo">Categoría: </p>
                <p>Administrador</p>
            </div> -->
            <div>
                <div class="boton-editar">
                    <a href="/cuenta/perfil/editar-perfil">Editar Perfil</a>
                </div>
            </div>
            <div>
                <div class="boton-cerrar-sesion">
                    <a href="/cuenta/logout">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>